body{
    margin:0;
    padding: 0;
    
}

#board{
    height:100vh;
    position: relative;
    background-image: url('../img/2205_w026_n002_1909b_p1_1909.jpg');
    background-size:100vw 100vh;
    background-repeat: no-repeat;
}

.welBackground{    
    height:70vh;
    width: 70vw;
    position: relative;
    margin-left: 15vw;
    margin-top: 15vh;
    padding-top: 0; 


}

#welcome{
    background-color: brown;
}

  

#start-button{
    position: absolute;
    height: 200 px;
    width: 530px;
    
    left: 18vw;
    top: 51vh;
}

#shooter{
    position: absolute;
    
}

.target{
    position: absolute;    
}

.obstacle{
    position: absolute;
    background-color: aqua;  

}
.bullet{
    position: absolute;
    background-image: url("../img/bullet.png");
    background-size: cover;
}

#score {
    font-size: 3em;
    color: rgb(13, 36, 13);
    text-align: center;    
    margin-top: 3em;
    
 }

 #sumPoints{
    position: absolute;
    
}

#page-gameover{
    text-align: center;
    background-color:grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page-gameover h1{
    margin-top: 10vh;
    font-size: 3em;
}
#page-gameover a{
    font-size: 2em;
    text-decoration: none;
    color:black;
}

.bombexp{
   width: 50%;
   height: 50%;
}