body{
    margin:0;
    padding: 0;
    
}

#board{
    height:100vh;
    position: relative;
    background-image: url('../img/2205_w026_n002_1909b_p1_1909.jpg');
    background-size:100vw 100vh;
    background-repeat: no-repeat;
}

#welcome{
    background-image: url('../img/welcome.png');
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;

}

  

#start-button{
    height: 200 px;
    width: 530px;
    position: relative;
    left: 20vw;
    top: 58vh;
}

#shooter{
    position: absolute;
    
}

.target{
    position: absolute;    
}

.obstacle{
    position: absolute;  

}
.bullet{
    position: absolute;
    background-image: url("../img/bullet.png");
    background-size: cover;
}

#sumPoints{
    position: absolute;
    
}

#sumPoints p span{
   font-size: 20em;
   color: rgb(13, 36, 13);
}

#page-gameover{
    text-align: center;
    background-color:grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page-gameover h1{

    font-size: 10vh;
}
#page-gameover a{
    font-size: 5vh;
    text-decoration: none;
}

.bombexp{
   width: 50%;
   height: 50%;
}