body{
    margin:0;
    padding: 0;
}

#board{
    background-color: black;
    height:100vh;
    position: relative;
}

#shooter{
    position: absolute;
    border: 1px solid red;
}

.target{
    position: absolute;
    background-color: blue;
    border: 3px solid white;
}

.obstacle{
    position: absolute;
    background-color: aqua;

}

#page-gameover{
    text-align: center;
    background-color:grey;
}